
    
    <div class="row" id="content">

        <div class="col-sm-12 col-md-6 col-lg-4 aah item" data-template="item" onmouseover="changeCursor(this)" onmouseout="restoreCursor(this)" onclick="loadDetails('sushi.json')">
            <section id="cliic">
                <h2 class="aa ahmad" id="chicken">
                    {{name}}
                </h2>
                <p id="chickens">
                    {{description}}
                </p>

            </section>
        </div>

    </div>

